<div class="wrapper-md ng-scope">
    <div class="row">
        <!-- <div class="col-sm-4 col-md-offset-4"> -->
        <div class="col-sm-offset-4 col-md-offset-4 col-sm-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">Forgot Password</div>
                <div class="panel-body">                   
                    <form role="form" data-ng-show="fp.passwordChange" class="ng-pristine" name="changePasswordForm" ng-submit="fp.changePasswordbyEmail()">
                        <div class="form-group">
                            <label>Enter the password</label>
                            <input type="password" class="form-control" data-ng-model="fp.changePassword.password" placeholder="Password" required ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" name="password" minlength="8">
                            <div class="password-validation-message">
                                <div ng-show="changePasswordForm.password.$error.minlength">Password must be of length 8!</div>
                                <div ng-show="changePasswordForm.$error.pattern">Password should be alphanumeric with a special character!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" data-ng-model="fp.changePassword.confirmPassword" name="confirmPassword" placeholder="Confirm password" required minlength="8">

                            <div class="password-validation-message"  ng-show="changePasswordForm.password.$viewValue != changePasswordForm.confirmPassword.$viewValue">Mismatch</div>

                        </div>

                        <button type="submit" ng-disabled="changePasswordForm.$invalid" class="btn btn-sm btn-primary">Submit</button>
                    </form>
                    <div data-ng-bind="fp.error" style="margin-top:20px;" ng-show="fp.showError" class="alert alert-danger"></div>
                    <div data-ng-bind="fp.emailMsgshow" style="margin-top:20px;" ng-show="fp.emailMessage" class="alert alert-info"></div>
                    <div ng-show="fp.successMsg" style="margin-top:20px;" class="alert alert-info">
                        <b>Password Successfuly changed.<a href="/">Click here</a> to login</b>
                    </div>
                </div>
                <div class="forgot-page-bottom-link"><b><a href="/">Back to Login Page</a></b></div>
            </div>
        </div>
    </div>
</div>