<div class="wrapper-md ng-scope">
    <div class="row">
        <!-- <div class="col-sm-4 col-md-offset-4"> -->
        <div class="col-sm-offset-4 col-md-offset-4 col-sm-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">Forgot Password</div>
                <div class="panel-body">
                    <form role="form" class="ng-pristine" data-ng-show="fp.showStageOne" name="checkUsernameForm" ng-submit="fp.checkUsername()">
                        <!-- <div class="form-group">
                            <label>Customer Type</label>
                            <select ng-model="fp.loginData.type" class="form-control" ng-options="c as c for c in fp.customerTypes" required>
                            </select>
                        </div> -->
                        <div class="form-group">
                            <label>Username</label>
                            <input type="email" name="username" class="form-control" ng-model="fp.checkUsername.userName" placeholder="username" required>
                            <div ng-messages="checkUsernameForm.username.$error" ng-show="checkUsernameForm.username.$viewValue" class="password-validation-message">
                                <div ng-message-exp="[ 'email','required' ]">Enter a valid email</div>
                            </div>
                        </div>
                        <button type="submit" ng-disabled="checkUsernameForm.$invalid" class="btn btn-sm btn-primary">Submit</button>
                    </form>
                    <form role="form" data-ng-show="fp.showStageTwo && !fp.emailMessage" class="ng-pristine" name="checkVerificationForm" ng-submit="fp.checkVerification()">
                        <div class="form-group" ng-init="fp.checkVerification.verificationOption = 'mobilePhone' ">
                            <label>Verification Methods</label>
                            <!-- <div class="radio">
                                <label class="i-checks">
                                    <input type="radio" checked="true" data-ng-model="fp.checkVerification.verificationOption" data-ng-click="fp.showError = false; fp.showSecurityQuestions = false" name="verificationOption" value="mobilePhone">
                                    <i></i> Mobile Number
                                </label>
                            </div> -->
                            <div class="radio">
                                <label class="i-checks">
                                    <input type="radio" data-ng-model="fp.checkVerification.verificationOption" data-ng-click="fp.showError = false; fp.showSecurityQuestions = false" name="verificationOption" value="email">
                                    <i></i> Email
                                </label>
                            </div>
                            <div class="radio">
                                <label class="i-checks">
                                    <input type="radio" data-ng-model="fp.checkVerification.verificationOption" data-ng-click="fp.noSecurityQuestion == true ? fp.showError = true : fp.showSecurityQuestions = true " name="verificationOption" value="questions">
                                    <i></i> Security Questions
                                </label>
                            </div>
                        </div>
                        <!--<div class="form-group" data-ng-if="fp.checkVerification.verificationOption == 'mobilePhone' ">
                            <label>Mobile Number</label>
                            <input type="text" class="form-control" data-ng-model="fp.checkVerification.mobilePhone" placeholder="Mobile Number" required>
                        </div>-->
                        <!--<div class="form-group" data-ng-if="fp.checkVerification.verificationOption == 'email' ">
                            <label>Email</label>
                            <input type="email" class="form-control" data-ng-model="fp.checkVerification.email" placeholder="email address" required>
                        </div>-->
                        <button type="submit" data-ng-hide="fp.checkVerification.verificationOption == 'questions' " ng-disabled="checkVerificationForm.$invalid" class="btn btn-sm btn-primary">Submit</button>
                    </form>
                    <form role="form" data-ng-show="fp.showStageThree" class="ng-pristine" name="checkVerificationKeyForm" ng-submit="fp.checkVerificationKey()">
                        <div class="form-group">
                            <label>Enter the verification Code</label>
                            <input type="text" class="form-control" data-ng-model="fp.checkVerificationKey.verificationCode" placeholder="5 digit code" required>
                        </div>
                        <button type="submit" ng-disabled="checkVerificationKeyForm.$invalid"  class="btn btn-sm btn-primary">Submit</button>
                    </form> 
                    <form role="form" data-ng-show="fp.checkVerification.verificationOption == 'questions'  && !fp.showStageFour" class="ng-pristine" name="checkSecurityQuestionsForm" ng-submit="fp.checkSecurityQuestions()" style="margin-top: 20px;">

                        <div class="form-group"  ng-repeat="questions in fp.DisplayQuestionsValues">
                            <label  ng-if="questions.question" class="security-questions-label">{{$index + 1}}. {{questions.question}}</label>
                            <input type="text" ng-if="questions.question"  class="form-control" placeholder="answer" data-ng-model="fp.checkSecurityQuestions.questions[$index]"></input>
                        </div>

                        <button type="submit" ng-disabled="checkSecurityQuestionsForm.$invalid" class="btn btn-sm btn-primary">Submit</button>
                    </form>
                    <form role="form" data-ng-show="fp.showStageFour" class="ng-pristine" name="changePasswordForm" ng-submit="fp.changePassword()">
                        <div class="form-group">
                            <label>Enter the password</label>
                            <input type="password" name="password"  ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" class="form-control" data-ng-model="fp.changePassword.password" placeholder="Password" required minlength="8">
                            <div class="password-validation-message">
                                <div ng-show="changePasswordForm.password.$error.minlength">Password must be of length 8!</div>
                                <div ng-show="changePasswordForm.$error.pattern">Password should be alphanumeric with a special character!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" data-ng-model="fp.changePassword.confirmPassword" placeholder="Confirm password" required minlength="8">
                        </div>
                        <button type="submit" ng-disabled="changePasswordForm.$invalid" class="btn btn-sm btn-primary">Submit</button>
                    </form>
                    <div data-ng-bind="fp.error" style="margin-top:20px;" ng-show="fp.showError" class="alert alert-danger"></div>
                    <div data-ng-bind="fp.emailMsgshow" style="margin-top:20px;" ng-show="fp.emailMessage" class="alert alert-info"></div>
                    <div ng-show="fp.successMsg" style="margin-top:20px;" class="alert alert-info">
                        <b>Password Successfuly changed.<a href="/">Click here</a> to login</b>
                    </div>
                </div>

                <div class="forgot-page-bottom-link"><b><a href="/">Back to Login Page</a></b></div>
            </div>
        </div>
    </div>
</div>
